<ion-header>
  <ion-toolbar>
    <ion-title>Jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!---- <li *ngFor="let players of jugadores">
    <ion-card>
      <img src="{{players.foto}}"/>
      {{players.nombre}} {{players.apellido}} 
    </ion-card>
  </li>--->
</ion-content>
