<ion-header>
  <ion-toolbar>
    <ion-title>Jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list line="full">
    <ion-item *ngIf="equipo">
      <ion-input required type="text" placeholder="Ciudad: " [(ngModel)]="equipo.ciudad"></ion-input>
    </ion-item>
    <ion-item *ngIf="equipo">
      <ion-input required type="text" placeholder="Nombre del equipo: " [(ngModel)]="equipo.nombre"></ion-input>
    </ion-item>
    <ion-item *ngIf="equipo">
      <img src={{equipo.foto}}>
    </ion-item>
  </ion-list>
</ion-content>