<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Equipos 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card *ngFor="let equiposs of equipo">
   <ion-item lines="inset" routerLink="/details/{{equiposs.id}}">
    <img src="{{equiposs.foto}}">
   </ion-item>
  <ion-card-title> 
     {{equiposs.nombre}}
  </ion-card-title>
  <ion-card-subtitle>
    {{equiposs.ciudad}}
  </ion-card-subtitle>
  </ion-card>
</ion-content>
